{% extends "base/base.html" %}

{% block titulo %}


<header style="text-align: center; margin: 20px;">
    <h1>¡Bienvenidos a LautyBlogs!</h1>
    <h2>Estamos emocionados de tenerte aquí.</h2>  
</header>


{% endblock %}




{% block cuerpo %}

<body>
    <p style="text-align: center; margin: 40px;">Estás a punto de sumergirte en un sin fin de artículos emocionantes sobre todos los temas que te puedas imaginar. <br>
    Desde viajes por el mundo hasta tips para entrenar a un mono. <br> ¿A qué esperas para sumergirte en nuestro frefrescante y novedoso contenido?</p>
</body>

{% endblock %}